{
  "extends": "@cleartax",
  "overrides": [
    {
      "files": ["**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "import/no-extraneous-dependencies": "warn"
      }
    }
  ]
}